*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
}
body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: min-content; */
    /* background-size: cover; */
    color: #fff;
    background: #000;
}

#hero {
    background: url("assets/bg-dark.svg");
    height: 100vh;
}
#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
    padding-left: 70px;
}
#child1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    padding-left: 42px;
    margin-top: 7px;
}

#child2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 30px;
    font-weight: 600;
    padding-left: 85px;
    color: #fff;
}
#child1 img {
    width: 20px;
    height: 20px;
}

#child3 {
    display: flex;
    gap: 4px;
    padding-right: 60px;
}
button {
    border-radius: 20px;
    padding: 4.5px 10.5px;
    font-size: larger;
    font-weight: normal;
}

#main {
    width: 100%;
    background-color: black;
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

input::placeholder {
    font-size: 14px;
    font-weight: bold;
}