*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
}
body {
    background-image: url("assets/bg-dark.svg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background-size: cover;
    color: #fff;
}
#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
    padding-left: 70px;
}
#child1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    padding-left: 42px;
    margin-top: 7px;
}

#child2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 30px;
    font-weight: 600;
    padding-left: 85px;
    color: #fff;
}
#child1 img {
    width: 20px;
    height: 20px;
}

#child3 {
    display: flex;
    gap: 4px;
    padding-right: 60px;
}
button {
    border-radius: 20px;
    padding: 4.5px 10.5px;
    font-size: larger;
}

#main {
    width: 100%;
    background-color: black;
}

/* #main-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
}
.main-child1 {
    padding: 1.75px 7px;
    background-color: rgb(75, 196, 75);
    border-radius: 10px;
} */
