*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 25px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
}
#child1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    padding-left: 42px;
}

#child2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    gap: 18px;
    font-weight: 600;
    padding-left: 60px;
}
#child1 img {
    width: 20px;
    height: 20px;
}

#child3 {
    padding-right: 18px;
}
button {
    border-radius: 20px;
    padding: 3px;
}
